<p id="notice"><%= notice %></p>

<h1>Listing Kelases</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kelases.each do |kelas| %>
      <tr>
        <td><%= kelas.name %></td>
        <td><%= kelas.user %></td>
        <td><%= link_to 'Show', kelas %></td>
        <td><%= link_to 'Edit', edit_kelas_path(kelas) %></td>
        <td><%= link_to 'Destroy', kelas, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kelas', new_kelas_path %>
