<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @kelas.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @kelas.user %>
</p>

<%= link_to 'Edit', edit_kelas_path(@kelas) %> |
<%= link_to 'Back', kelases_path %>
